.modal-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;

    background: rgba(4, 9, 17, .8); /*RGBA permite colocar a transparência no "A" */
}

.modal-wrapper .modal{
    width: min(590rem, 78%);
    background: var(--white);
    margin: auto;

    border-radius: 8rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 64rem;
}

.modal-wrapper .modal h2{
    font-size: 24rem;
    font-weight: 700;
    margin-bottom: 12rem;
    color: var(--black);
}

.modal-wrapper .modal p{
    margin-bottom: 24rem;
    color: var(--grey-dark);
}

.modal-wrapper .modal input{
    background: transparent;
    margin-bottom: 40rem;
    padding: 13rem 16rem;
    border: 2rem solid var(--blue);
    outline: none;
    width: min(302rem, 70%);

}

.modal-wrapper .modal .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal .buttons > button{
    padding: 13rem 32rem;
}
.modal-wrapper .modal .buttons > .button{
    padding: 13rem 32rem;
    margin-right: 8rem;
}

