/* .content{
    max-width: 1120rem, 78%);
} */

body {
    overflow-x: hidden;
}

#room main{
    /* max-width: 78%; */
    /* margin: auto 160rem; */
    margin-right: 11.12%;
    margin-left: 11.12%;
    margin-top: 57rem;
}

#room header{
    /* width: 100%; */
    display: flex; /* permite que o conteúdo fique lado a lado, já que o padrão do HTML é que fique um embaixo do outro */
    align-items: top;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: 8rem;
    padding: 13rem 16rem;
}

#room header .buttons .button:nth-child(1) img{
    margin-left: 10rem;
    width: 20rem;
    height: 20rem;
}

#room header .buttons .button:nth-child(2){
    padding: 13rem 32rem;
}

#room header .buttons .button:nth-child(2) img{
    margin-right: 10rem;
    width: 20rem;
    height: 20rem;
}

/* QUESTION FORM */

#question-form h2{
    font-family: 'Poppins', sans-serif;
    font-size: 28rem;
    color: var(--black);
    font-weight: 700;
    line-height: 42rem;

    margin-bottom: 24rem;
}

#question-form form{
    border: 2rem solid var(--grey-blue);
    padding: 16rem;
    border-radius: 0 8rem 8rem 8rem;

    margin-bottom: 16rem;
}

#question-form form textarea{
    resize: none; /* trava o textarea em uma tamanho único */
    background: transparent;
    width: 100%;
    outline: none; /* retira a linha padrão (que aparece ao clicar) do textarea */
}

#question-form form textarea::placeholder{
    color: var(--grey-blue);
}

#question-form form footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#question-form form footer > div{ /* (boa prática) ">" referencia a div filha de footer, sem pegar divs "netas" de footer */
    display: flex;
    align-items: center;
    color: var(--icons-details);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14rem;
}

#question-form form footer > div img{
    margin-right: 6rem;
}

#question-form form footer button{
    height: auto;
    padding: 8rem 24rem;
    line-height: 24rem; /* caixa de texto */
}


/* QUESTÕES */

.question-wrapper{
    background: var(--light-blue);
    border-radius: 0 8rem 8rem 8rem;
    padding: 24rem;

    
    margin-bottom: 8rem;
}

.question-wrapper .question-content{
    display: flex;
    align-items: flex-start; /*alinhado ao topo*/
}

.question-wrapper .question-content .user{
    background: var(--blue);
    clip-path: circle();
    padding: 14rem;
}

.question-wrapper .question-content p{
    margin-left: 16rem;
    word-break: break-word; /* frases muito grandes não quebram o layout -> hifeinização */
    display: flex;
    align-items: center;
    min-height: 55rem;

}


.question-wrapper .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .actions > a{
    display: flex;
    align-items: center;
    color: var(--grey-dark);
}

.question-wrapper .actions > a + a{ /* "+" permite selecionar o irmão do primeiro "a" */
    margin-left: 24rem;
}

.question-wrapper .actions > a > img{
    margin-right: 8rem;
}


/* QUESTÕES LIDAS */

.question-wrapper.read{
    background: var(--grey-medium);
}

.question-wrapper.read .question-content .user{
    background: var(--grey-blue);
}





